<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Numerele</title>
  </head>
  <body>
    <h1>Numerele</h1>
    <p>Numaru introdus <%= numarIntrodus %></p>
    <p>Numaru random <%= numarRandom %></p>
    <p>Numaru sumaAcestora <%= suma %></p>
    
  </body>
</html>